* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f2ea;
}

.container img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;

}

h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

p {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.card-sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 30px;
    color: white;

}

.card-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

}

.card-produto {
    width: 300px;
    height: 90px;
    border-radius: 15px;
    background: linear-gradient(145deg, #1f1f1f);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    

}

.card-produto:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
    cursor: pointer;
}
p{
    font-size: 1.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2 {
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.title {
    text-align: center;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
     color: inherit;

}

.sub-title{
    text-align: center;
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;

}

.card-produto img {
    width: 45px;
    justify-content: space-around;
}

