* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f2ea;
}

.container img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;

}

h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

p {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.card-sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 30px;
    color: white;

}

.card-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

}

.card-produto {
    width: 300px;
    height: 90px;
    border-radius: 15px;
    background: linear-gradient(145deg, #1f1f1f);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    

}

.card-produto:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
    cursor: pointer;
}
p{
    font-size: 1.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2 {
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.title {
    text-align: center;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
     color: inherit;

}

.sub-title{
    text-align: center;
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;

}

.card-produto img {
    width: 45px;
    justify-content: space-around;
}

header {
     background-color: #1E131B;
    position: sticky;  
    top: 0;            
    z-index: 1000;     
    width: 100%;

}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

/* MENU DESKTOP */
.nav-menu {
    display: flex;
    gap: 45px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(211, 0, 0);
}

/* HAMBURGUER */
.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }

 .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #1E131B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        gap: 0;
    }
    
    .nav-list {
        margin: 16px 0;
    }
    
    .nav-menu.active {
        left: 0;
    }
    
    /* ANIMAÇÃO X */
    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
